In [2]:
var1 = 1000#Global variable
def myfunc():
    print(var1)
print(var1)
myfunc()

1000

In [3]:
def myfunc2():
    var2=100 #local variable
    print(var2)
def myfunc3():
    print(var2)#this will throw error because of var2 has a local scope
myfunc2()
myfunc3()

100

NameError: name 'var2' is not defined

In [4]:
var1=100
def myfunc():
    var1=var1+10#local variable scope 'var1' referenced before assignment
    print(var1)
myfunc()
print(var1+100)

UnboundLocalError: local variable 'var1' referenced before assignment

In [ ]:
var1=100 #variable with global scope
def myfunc():
    var1=90
    return var1 #variable with local scope

In [5]:
def summation(a,b,c):
    return a+b+c
print(summation(10,20,30))

60

In [6]:
print(summation(10,20,30,40))#creates TypeError: summation() takes 3 positional arguments but 4 were given

TypeError: summation() takes 3 positional arguments but 4 were given

In [7]:
def summation(*args):
    return sum(args)

print(summation(10,11))
print(summation(10,15,16)) #args will take dynamic arguments list
print(summation(39,40,50,60))
print(summation(20,30,40,50,60,70))

21
41
189
270

In [12]:
def summation(*args):
    return sum(args)
list_1=[10,20,30,40,50,60,70,80]
print(summation(*list_1))
tuples=(10,20,30,40,50,60,70,80)
print(summation(*tuples))

360
360

In [9]:
####Program that takes multilpe lists/tuples and return the sums

In [10]:
list_1=[10,20,30,40,50,60,70,80]
list_2=[1,2,3,4,5,6,7,8]
list_3=[11,13,12,14,15]
print(summation(*list_1,*list_2,*list_3)) #All lists are unpacked and each items are added

461

#### 2.Program to print keys with value.

In [19]:
def UserDetails(*args):
    print(args)
UserDetails("Pooja",45678,"Chennai","English")

('Pooja', 45678, 'Chennai', 'English')

In [23]:
def UserDetails(**kwargs):
    print(kwargs)
UserDetails(Name ="Pooja",ID=45678,Place="Chennai",Dept="English")

{'Name': 'Pooja', 'ID': 45678, 'Place': 'Chennai', 'Dept': 'English'}

In [25]:
def UserDetails(**kwargs):
    for key,values in kwargs.items():
        print("{}:{}".format(key,values))
UserDetails(Name ="Pooja",ID=45678,Place="Chennai",Department="English")

Name:Pooja
ID:45678
Place:Chennai
Department:English

In [26]:
#### Program to print user details using *args and **kwargs

In [41]:
def UserDetails(LicenseNo,*args,contact=0,**kwargs):
    j=''
    for i in args:
        j=j+i
    print('Licnese No :',LicenseNo) 
    print("Name :",j)
    print("phone no :",contact)
    for key,values in kwargs.items():
        print("{}:{}".format(key,values))
name=['Arif',' ','Ahmed'] 
phone=9988776655
license=787687678
my_dict={'name':'Arif','Id':12245,'pin code':679123,'age':23,'country':23}
UserDetails(license,*name,contact=phone,**my_dict)

Licnese No : 787687678
Name : Arif Ahmed
phone no : 9988776655
name:Arif
Id:12245
pin code:679123
age:23
country:23

In [34]:
def userdetails(licenceNo, *args, contact = 0, **kwargs):
    print('Licence No : ' ,licenceNo)
    
    j = ''
    for i in args:
        j = j + i
        print('Full Name: ', j)
        print('Phone Number: ', contact)
        
    for key,val in kwargs.items():
        print("{} : {}".format(key,val))
        
name = ['Arya', ' ', 'Appukutttan']
mydict = {'Name':'Arya', 'ID':34566, 'Pincode':11098, 'Age': 24, 'Country': 'India'}
userdetails('DLT23456', *name, contact = 7995673489, **mydict)

Licence No :  DLT23456
Full Name:  Arya
Phone Number:  7995673489
Full Name:  Arya
Phone Number:  7995673489
Full Name:  Arya Appukutttan
Phone Number:  7995673489
Name : Arya
ID : 34566
Pincode : 11098
Age : 24
Country : India

#### Lambda, Filter, Map and Reduce

Lambda:
a lambda function is an anonymous function(function without name)
Lambda function can have any number of arguments but only one expression.the expression is evaluated and returned
we use lambda function when we require a nameless function for a
short period of time
syntax:lambda argument(s):expression

eg. lambda arg1, arg2: arg1 + arg2

In [42]:
addition =lambda a:a+10 # this lambda function add 10 to the arguments
print(addition(10))

20

In [43]:
product=lambda a,b:a*b
print(product(10,15))

150

In [45]:
add=lambda *args:sum(args) #this function can take any number of variables
print(add(10,20,30,40,50))

150

In [46]:
list_1=[1,2,3,4,5,6,7]
def odd(n):
    if n%2==1:
        return True
    else:
        return False
oddnum=list(filter(odd,list_1))# this function filters list list_1 and return oddnum
print(oddnum)

[1, 3, 5, 7]

In [47]:
#creates the program using lambda function
oddnum=list(filter(lambda num:num%2==1,list_1))
print(oddnum)

[1, 3, 5, 7]

#map

In [77]:
def twice(num):
    return num*2
doubles=list(map(twice,oddnum))
print(doubles)

[2, 6, 10, 14]

In [53]:
doubles=list(map(lambda n:n*2,(1,2,3,4,5,6,7,8,9)))
print(doubles)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [74]:
from functools import reduce
#reduce this function for aggregrate function
def summation(a,b):
    return a+b
sum_all=reduce(summation,doubles)
sum_all

90

In [63]:
sum_all=reduce(lambda a,b:a+b,doubles)
sum_all

90

In [70]:
list_1=[1,2,3,4,5,6,7,8]
sum1=reduce(lambda a,b:a+b,map(lambda n:n**3,list(filter(lambda num:num%2==0,list_1))))
sum1

800

In [71]:
#find minimum number in a list using lambda
list_1=[23,13,78,90,23,15]
min=reduce(lambda a,b:a if a<b else b,list_1)
print(min)

13

In [72]:
#to find maximum
max=reduce(lambda a,b:a if a>b else b,list_1)
print(max)

90

####Frozen set
frozenset() method: it creates an immutable set object from an iterate.It is a built-in python function.As it is set() hence it will follow properties of set object like we cannot have duplicate values in frozen set.

In [82]:
list_1=['Apple','Banana','Cupcakes','Butterscotch']
fset=frozenset(list_1)
type(fset)

frozenset

In [83]:
fset.add("eclairs")

AttributeError: 'frozenset' object has no attribute 'add'

In [84]:
#random dictionary
person={'name':'Arpita','salary':100000,'gender':"female"}
fset=frozenset(person)
print(fset)

frozenset({'gender', 'salary', 'name'})

In [87]:
#frozenset operations

a=frozenset([10,20,30,40,50])
b=frozenset([50,60,70,80])

#union
print(a.union(b))

#intersection
print(a.intersection(b))

#difference
print(a.difference(b))

#symmetric difference
print(a.symmetric_difference(b))

frozenset({70, 40, 10, 80, 50, 20, 60, 30})
frozenset({50})
frozenset({40, 10, 20, 30})
frozenset({70, 40, 10, 80, 20, 60, 30})

#### list Comprehension
list comprehension is a way to define and create a new list using a single statements.

In [91]:
list_1=[x**2 for x in range (1,11) if x%2==0]
list_1

[4, 16, 36, 64, 100]

In [90]:
list2=[]
for i in range (1,11):
    if i%2==0:
        list2.append(i**2)
list2

[4, 16, 36, 64, 100]

In [92]:
#### More excercises

In [98]:
python_lbs=['python','math','numpy','pandas','datetime','sys']
upper_python_lbs=list(map(lambda i:i.upper(),python_lbs))
print(upper_python_lbs)

['PYTHON', 'MATH', 'NUMPY', 'PANDAS', 'DATETIME', 'SYS']

In [109]:
lis=[]
for i in python_lbs:
    lis.append(i.upper())
print(lis)

['PYTHON', 'MATH', 'NUMPY', 'PANDAS', 'DATETIME', 'SYS']

#### Program to check palindrome or not

In [104]:
#palindrome or not
mylist=['php','madam','python','numpy','class','rewire','salas']
l=[]
for i in mylist:
    if i==i[::-1]:
        l.append(i)
print(l)

['php', 'madam', 'salas']

In [111]:
l2=list(filter(lambda i:True if i==i[::-1] else False,mylist))
print(l2)

['php', 'madam', 'salas']

In [113]:
mylist = ['php','madam','python','numpy','class','rewire','salas']
rev_mylist = list(filter(lambda word : word == word[::-1], mylist))
rev_mylist

['php', 'madam', 'salas']

In [123]:
#write program to find the wherther the text contain the word star

file=open("sample.txt",'r')
text=file.read()
print(text)
if 'star'in text:
    print('found')
else:
    print('not found')
file.close()

twinkle twinkle little star
how i wonder what you are
up the world above the sky
found

#### 7. Create game for snake water gun using python